.row {
  display: flex;
  justify-content: center;
}

.card {
  margin: 0 auto;
  width: 80%;
  height: 95%;
  box-shadow: 0 4px 4px #167D7F;
}

.card-img-top {
  width: 8rem;
  height: 8rem;
  margin: 20px auto;
}

.card-body {
  text-align: justify;
  text-justify: inter-word;
}

.cartButton {
  display: flex;
  justify-content: center;
  align-items: last baseline;
}

.btn {
  border: 1px solid #167D7F;
  /* color: #3D550C; */
}

.btn:hover {
  background-color: #167D7F;
  color: #DDFFE7;
}
